## Question1

In [ ]:
import pandas as pd
import datetime as dt
import os

df = pd.read_csv('/Users/hps/aws/moloco1.csv')

In [14]:
df.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [502]:
df_bdv = df[df['country_id']=='BDV']

user_count = df_bdv.groupby(['site_id'],
                            as_index = False).agg(['nunique']).user_id.sort_values(['nunique'],
                                                                                   ascending =
                                                                                   False).head(1).reset_index()
print(user_count)

  site_id  nunique
0   5NPAU      544

In [145]:
df_users = df[(df['ts'] > '2019-02-03 00:00:00') & (df['ts'] < '2019-02-04 23:59:59')]
df_users = df_users.groupby(['user_id','site_id'])['ts'].count().reset_index()
df_users= df_users[df_users.ts > 10]
df_users.sort_values('ts',ascending = False).head(4)

    user_id site_id  ts
417  LC3A59   N0OTG  26
3    LC06C3   N0OTG  25
493  LC3C9D   N0OTG  17
485  LC3C7E   3POLC  15

In [149]:
df_last_visit = df.groupby('user_id')['ts'].max().reset_index()
df_last_visit['user_id']
df_last_visit = df_last_visit.merge(df, on = ['ts','user_id'], how='left')
df_count = df_last_site.groupby('site_id')['ts'].count().reset_index()
df_count.sort_values('ts',ascending = False).head(3)

  site_id   ts
1   5NPAU  992
5   N0OTG  561
6   QGO3G  289

In [166]:
df_first_visit = df.groupby('user_id')['ts'].min().reset_index()
df_first_visit = df_first_visit.merge(df, on = ['ts','user_id'], how='left' )
final_df = pd.merge(df_first_visit, df_last_visit, on='user_id', how='inner')

final_df.columns = ['user_id', 'ts_first', 'country_id_first', 'site_id_first',
                    'ts_last', 'country_id_last','site_id_last']
len(final_df[final_df.site_id_first == final_df.site_id_last])

1670

[4.44089210e-16 1.17351633e-04 3.82529749e-01]